.center-xy {
	@apply flex items-center justify-center h-screen;
}
.box1 {
	@apply flex flex-col border-2 border-zinc-400 p-4 rounded-lg border-t-4 border-t-red-600;
}
.button {
	@apply py-2 px-4 rounded-md;
}

.button1 {
	@apply bg-red-600 lg:w-40 lg:mx-auto font-bold;
}

.alert-danger {
	background: #842029;
}
.alert-success {
	background: #0f5132;
}
.alert {
	@apply fixed md:w-1/4 w-2/3 z-[100] rounded border px-4 py-2 text-center opacity-95 drop-shadow-lg;
	top: 8%;
	animation: alertSlide 0.1s ease-out;
}

@keyframes alertSlide {
	0% {
		top: 4%;
		opacity: 0%;
	}
	50% {
		top: 6%;
		opacity: 30%;
	}
	100% {
		top: 8%;
		opacity: 95%;
	}
}
